# Vagrant
.vagrant/

# Python
bin/
build/
include/
lib/
local/
.pyc

#Mac
.DS_Store

# Role Repos from Daniel Groves forked Repos
roles/ansible-role-java/
roles/ansible-role-tomcat6
roles/ansible-role-solr
